---
import Layout from "../layouts/Layout.astro";
import { ProductList } from "../components/Products/ProductList";
import data from "../data/data";
---

<Layout>
  <section class="wrapper">
    <h1 class="title">Nuestro Catálogo:</h1>
    <ProductList client:load />
  </section>
</Layout>

<style>
  .title {
    font-size: 2rem;
    margin: 2rem 0;
    font-weight: 600;
  }
</style>
