---
import Layout from "../layouts/Layout.astro";
import Form from "@components/Form.astro";
import "@styles/form.css";
import contactImg from "@assets/contact.png";
---

<Layout>
  <div class="contact-form-container">
    <div class="form">
      <h2>Formulario de Contacto</h2>
      <Form />
      <div id="successMessage" class="success-message">
        ¡Gracias por contactarnos! Te responderemos lo más pronto posible.
      </div>
    </div>

    <img class="img" src={contactImg.src} alt="" srcset="" />
  </div>
</Layout>
