---
import Hero from "@components/Hero.astro";
import Categories from "@components/Categories/Categories.astro";
import Layout from "../layouts/Layout.astro";
import ProductShelf from "@components/ProductShelf.astro";
---

<Layout>
  <Hero />
  <Categories title="Explora nuestras categorias" />
  <ProductShelf />
  <a class="contact-btn" href="/contacto">Contactanos</a>
</Layout>
