<header class="header">
  <div class="navigation">
    <a href="/" class="brand">
      <span>S</span>
      <span>T</span>
      <span>Y</span>
      <span>L</span>
      <span>E</span>
      <span>R</span>
      <span>S</span>
    </a>

    <button class="hamburger" aria-label="Toggle menu"> ☰ </button>
  </div>
  <ul class="links">
    <li class="item">
      <a class="link" href="/">Home</a>
    </li>

    <li class="item">
      <a class="link" href="/catalogo">Catálogo</a>
    </li>
    <li class="item">
      <a class="link" href="/contacto">Contacto</a>
    </li>
  </ul>
</header>

<style>
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: auto;
    padding-top: 1.3rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
    box-shadow:
      0 4px 6px rgba(0, 0, 0, 0.1),
      0 1px 3px rgba(0, 0, 0, 0.06);
  }

  .header .brand {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 2px;
    text-decoration: none;
    color: #282121;
  }

  .brand span {
    margin: 0;
    padding: 0;
  }
  .brand span:nth-child(even) {
    color: #7a4bf1;
  }

  .hamburger {
    display: none;
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    color: #282121;
  }

  .links {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  .links li {
    list-style: none;
  }

  .links li a {
    color: #282121;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    position: relative;
    display: inline-block;
    transition: color 0.3s ease-in-out;
  }

  .links .link.active {
    color: #4800ff;
  }

  .links li a::after,
  .links .link.active::after {
    content: "";
    display: block;
    background-color: #4800ff;
    height: 2px;
    width: 0%;
    position: absolute;
    bottom: -2px;
    left: 0;
    transition: width 0.3s ease-in-out;
  }

  .links li a:hover {
    color: #4800ff;
  }

  .links li a:hover::after,
  .links .link.active::after {
    width: 100%;
  }

  /* Responsive Design */
  @media (max-width: 700px) {
    .header {
      width: 100%;
      padding: 0;
    }

    .header .navigation {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 90%;
      margin-top: 0.8rem;
      margin-bottom: 1rem;
      margin-left: auto;
      margin-right: auto;
    }

    .hamburger {
      display: block;
    }

    .links {
      display: none;
      height: 100vh;
      flex-direction: column;
      position: absolute;
      top: 3rem;
      left: 0;
      background: white;
      width: 100%;
      text-align: center;
      gap: 1rem;
      padding: 10rem 0;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .links.active {
      display: flex;
      z-index: 3;
    }

    .links li a {
      font-size: 1.5rem;
    }
  }
</style>

<script>
  const hamburger = document.querySelector(".hamburger") as HTMLElement;
  const links = document.querySelector(".links") as HTMLUListElement;

  hamburger.addEventListener("click", () => {
    console.log("hamburger clicked=");
    links.classList.toggle("active");
  });

  window.addEventListener("DOMContentLoaded", () => {
    const links = document.querySelectorAll(".link");
    const currentPath = window.location.pathname;

    console.log(currentPath);

    links.forEach((link) => {
      if (link.getAttribute("href") === currentPath) {
        link.classList.add("active");
      } else {
        link.classList.remove("active");
      }
    });
  });
</script>
